<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>


    <script>
        // const createSurveyContainer = document.getElementById("create-survey-div")
        function handleLogout() {
            localStorage.removeItem("access_token");
            console.log(window.location.host)
            window.location.href = "/"
        }

        function navigateToCreateSuvery(params) {
            // document.getElementById("survey-loader").style.display = "none"
            document.getElementById("surveys-container").style.display = "none"
            document.getElementById("create-survey-div").style.display = "inline"
        }

        document.addEventListener('DOMContentLoaded', function () {
            const loader = document.getElementById("loader")
            const surveyForm = document.getElementById("survey-form")
            const createSurveyContainer = document.getElementById("create-survey-div")
            const surveyLoader = document.getElementById("survey-loader")
            const messageDiv = document.getElementById("message-div")
            createSurveyContainer.style.display = "none"
            loader.style.display = "none"
            messageDiv.style.display = "none"

            surveyLoader.style.display = "inline"
            function getBaseUrl() {
                return window.location.protocol + '//' + window.location.host;
            }

            function submitSurveyForm() {
                let form = document.getElementById("survey-form")
                access_token = localStorage.getItem("access_token")
                let formData = new FormData(form)

                fetch("api/create-survey/", {
                    method: "POST",
                    body: formData,
                    headers: {
                        'Authorization': `Bearer ${access_token}`,
                    }
                }).then(response => response.json())
                    .then(data => {
                        console.log(data)
                    })

            }

            function fetchSurveys() {
                console.log("workin")
                access_token = localStorage.getItem("access_token")
                fetch('/sa/api/get-surveys/', {
                    method: "GET",
                    headers: {
                        'Authorization': `Bearer ${access_token}`,
                    }
                })
                    .then(response => {
                        if (response.status == 404) {
                            return response.json().then(data => {
                                throw new Error(`No surveys found`);
                            });

                        }
                        if (response.status != 200) {
                            return response.json().then(data => {
                                throw new Error(`Error fetching surveys`);
                            });

                        }
                        return response.json()
                    })
                    .then(data => {
                        surveyLoader.style.display = "none"
                        var surveysContainer = document.getElementById('surveys-container');
                        surveysContainer.innerHTML = '';

                        data.surveys.forEach(survey => {
                            var surveyDiv = document.createElement('div');
                            surveyDiv.className = 'bg-gray-100 p-4 rounded-lg shadow-md';
                            surveyDiv.innerHTML = `
                                <h4 class="text-lg font-semibold">${survey.title}</h4>
                                <p class="mt-2 text-gray-600">${survey.description}</p>
                                <a href="${survey.resultUrl}" class="block mt-4 text-blue-500 hover:underline">View Responses</a>
                                <div class="flex justify-between mt-4">
                                    <button class="text-blue-500 share-button hover:underline" data-url="${survey.resultUrl}">
                                        <i class="fas fa-share"></i> Share
                                    </button>

                                      <button survey-id=${survey.pk} class="text-red-500 delete-button hover:underline" data-url="${survey.resultUrl}">
                                        <i class="fas fa-share"></i>Delete
                                    </button>
                                </div>
                            `;
                            surveysContainer.appendChild(surveyDiv);
                        });

                        var shareButtons = document.querySelectorAll('.share-button');
                        shareButtons.forEach(function (button) {
                            button.addEventListener('click', handleShareButtonClick);
                        });


                        var deleteButtons = document.querySelectorAll('.delete-button');
                        deleteButtons.forEach(function (button) {
                            button.addEventListener('click', (e) => {
                                // alert(e.target.getAttribute("survey-id"))
                                handleDelete(e.target.getAttribute("survey-id"))
                            });
                        });
                    })
                    .catch(error => {
                        messageDiv.style.display = "inline"
                        console.log(error)
                        document.getElementById("message-box").innerText = "error fetching surveys"
                    });
            }


            function handleDelete(survey_id) {
                fetch(`/sa/api/delete-survey/${survey_id}/`, {
                    method: "DELETE",
                }).then((response) => response.json())
                    .then(data => {
                        alert(data.detail)
                        fetchSurveys()
                    })
            }

            function handleShareButtonClick(event) {
                var surveyUrl = event.currentTarget.getAttribute('data-url');

                var fullUrl = getBaseUrl() + surveyUrl;

                var tempInput = document.createElement('input');
                tempInput.value = fullUrl;
                document.body.appendChild(tempInput);
                tempInput.select();
                document.execCommand('copy');
                document.body.removeChild(tempInput);

                alert('Survey link copied to clipboard!');
            }


            surveyForm.addEventListener('submit', function (e) {
                loader.style.display = "inline"
                access_token = localStorage.getItem("access_token")

                let formData = new FormData(e.target)

                fetch("/sa/api/create-survey/", {
                    body: formData,
                    method: "POST",
                    headers: { "Authorization": `Bearer ${access_token}` }
                })
                    .then(response => {
                        if (!response.ok) {
                            loader.style.display = "none"
                            if (response.status === 409) {
                                return response.json().then(data => {
                                    throw new Error(`${data.detail}`);
                                });
                            } else if (response.status === 401) {
                                return response.json().then(data => {
                                    throw new Error(`${data.detail}`);
                                });
                            } else {
                                return response.json().then(data => {
                                    throw new Error(`${data.detail}`);
                                });
                            }
                        }
                        return response.json()
                    })
                    .then(data => {
                        loader.style.display = "none"
                        alert(data.detail)
                    })
                    .catch((error) => {
                        loader.style.display = "none"
                        alert(error.message)
                    })
                e.preventDefault()

                // evt.detail.headers['Authorization'] = `Bearer ${access_token}`
            });

            try {
                fetchSurveys()
            } catch (error) {
                null
            }
        });
    </script>

</head>

<body class="bg-gray-100">


    <header class="flex items-center justify-between p-4 text-white bg-gray-800">
        <div class="text-2xl font-semibold">Survey Admin</div>
        <nav>
            <a href="#" class="mr-4 hover:underline">Home</a>
            <button onclick="handleLogout()" class="hover:underline">Logout</button>
        </nav>
    </header>

    <div class="flex">

        <aside class="w-64 min-h-screen p-4 bg-gray-200">
            <ul>
                <li><a href="" class="block px-4 py-2 text-gray-800 hover:bg-gray-300">Dashboard</a></li>
                <li><button onclick="navigateToCreateSuvery()"
                        class="block px-4 py-2 text-gray-800 hover:bg-gray-300">Create Survey</button></li>
            </ul>
        </aside>

        <main class="flex-1 p-4">

            <div id="main-div" class="p-6 mb-6 bg-white rounded-lg shadow-md">
                <div class="mt-6">
                    <div id="surveys-container" class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">

                        <div id="survey-loader" class="flex flex-row items-center justify-content">
                            <svg aria-hidden="true"
                                class="inline w-8 h-8 mb-2 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                    fill="currentColor" />
                                <path
                                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                    fill="currentFill" />
                            </svg>
                            <h5>Loading surveys</h5>
                        </div>

                        <div id="message-div"
                            class="relative px-4 py-3 text-red-700 bg-red-100 border border-red-400 rounded"
                            role="alert">
                            <strong class="font-bold">Error</strong>
                            <span class="block sm:inline" id="message-box">.</span>
                        </div>

                    </div>

                    <div id="create-survey-div">
                        <h2 class="mb-4 text-xl font-semibold">Create a New Survey</h2>
                        <form id="survey-form" method="POST" action="{% url 'create-survey-api' %}">
                            {% csrf_token %}
                            <div class="mb-4">
                                <label for="surveyTitle" class="block text-gray-700">Survey Title</label>
                                <input type="text" id="surveyTitle" name="title"
                                    class="block w-full p-2 mt-1 border border-gray-300 rounded-md shadow-sm"
                                    placeholder="Enter survey title">
                            </div>
                            <div class="mb-4">
                                <label for="surveyDescription" class="block text-gray-700">Description</label>
                                <textarea id="surveyDescription" rows="4" name="description"
                                    class="block w-full p-2 mt-1 border border-gray-300 rounded-md shadow-sm"
                                    placeholder="Enter survey description"></textarea>
                            </div>
                            <div class="mb-4">
                                <label for="surveyLink" class="block text-gray-700">Share Link</label>
                                <input type="text" id="surveyLink"
                                    class="block w-full p-2 mt-1 border border-gray-300 rounded-md shadow-sm"
                                    placeholder="Survey link will be generated here" readonly>
                            </div>
                            <button type="submit"
                                class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600">Generate Survey
                                Link
                                <svg aria-hidden="true" id="loader"
                                    class="inline w-6 h-6 ml-1 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                                    viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                        fill="currentColor" />
                                    <path
                                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                        fill="currentFill" />
                                </svg>
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </main>
    </div>

</body>

</html>