<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Questions Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const url = window.location.href.split("/")
            const question_id = url[url.length - 2]
            console.log(question_id)

            function fetchOptions() {
                const access_token = localStorage.getItem("access_token");
                fetch(`/sa/api/get-options/${question_id}/`, {
                    method: "GET",
                    headers: {
                        'Authorization': `Bearer ${access_token}`,
                    }
                })
                    .then(response => {
                        if (response.status === 404) {
                            throw new Error(`No questions found for survey ${survey_id}`);
                        }
                        if (response.status !== 200) {
                            throw new Error(`Error fetching questions`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data)
                        const questionsContainer = document.getElementById('questions-container');
                        questionsContainer.innerHTML = '';

                        data.questions.reverse().forEach(option => {
                            const questionDiv = document.createElement('div');
                            questionDiv.className = 'bg-gray-200 p-4 rounded-lg shadow-lg';
                            questionDiv.innerHTML = `
                                <div class="flex justify-between">
                                    <h4 class="text-lg font-semibold">${option.option}</h4>
                                </div>
                                <br>
                               
                            `;
                            questionsContainer.appendChild(questionDiv);
                        });
                    })
                    .catch(error => {
                        console.error(error);
                    });
            }

            // Function to handle adding a question
            function handleAddOption(e) {
                e.preventDefault();
                const formData = new FormData(e.target)
                formData.append("question", question_id)

                const access_token = localStorage.getItem("access_token");

                fetch(`/sa/api/create-question-option/`, {
                    method: "POST",
                    headers: {
                        'Authorization': `Bearer ${access_token}`,
                    },
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.detail);
                        fetchOptions();
                    })
                    .catch(error => {
                        alert('Error adding question: ' + error.message);
                    });
            }

            document.getElementById('add-option-form').addEventListener('submit', handleAddOption);


            fetchOptions();
        });
    </script>
</head>

<body class="bg-gray-100">
    <header class="flex items-center justify-between p-4 text-white bg-gray-800">
        <div class="text-2xl font-semibold">Survey Admin</div>
    </header>

    <main class="flex-1 p-4">
        <div id="main-div" class="p-6 mb-6 bg-white rounded-lg shadow-md">
            <h2 class="mb-4 text-xl font-semibold">Manage Options for "{{question.question}}" </h2>

            <div id="questions-section">
                <h3 class="mb-2 text-lg font-semibold">Add a New Option</h3>
                <form method="POST" id="add-option-form" class="mb-4">

                    <div class="mb-4">
                        <label for="question-text" class="block text-gray-700">Option Text</label>
                        <input type="text" name="option" id="option-text"
                            class="block w-full p-2 mt-1 border border-gray-300 rounded-md shadow-sm"
                            placeholder="Enter the option">
                    </div>


                    <button type="submit" class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600">Add
                        Option
                    </button>
                </form>
                <div id="questions-container" class="space-y-4">

                </div>
            </div>
        </div>
    </main>
</body>

</html>