<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Details and Responses</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>

<body class="bg-gray-100">


    <header class="flex items-center justify-between p-4 text-white bg-gray-800">
        <div class="text-2xl font-semibold">Survey Admin</div>
    </header>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const url = window.location.href.split("/")
            const question_id = url[url.length - 2]
            console.log(question_id)

            function fetchQuestions() {
                const access_token = localStorage.getItem("access_token");
                fetch(`/sa/api/get-question-response/${question_id}/`, {
                    method: "GET",
                    headers: {
                        'Authorization': `Bearer ${access_token}`,
                    }
                })
                    .then(response => {
                        if (response.status === 404) {
                            throw new Error(`No results found for survey ${question_id}`);
                        }
                        if (response.status !== 200) {
                            throw new Error(`Error fetching results`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data)
                        const questionsContainer = document.getElementById('questions-tbody');
                        questionsContainer.innerHTML = '';

                        data.reverse().forEach(reponse => {
                            const questionDiv = document.createElement('tr');
                            questionDiv.innerHTML = `
                                <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap">${reponse.response}</td>
                                <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">${reponse.created_at}</td>
                            `;
                            questionsContainer.appendChild(questionDiv);
                        });
                    })
                    .catch(error => {
                        console.error(error);
                    });
            }
            fetchQuestions()
        })
    </script>

    <div class="flex justify-center p-6">
        <main class="w-full max-w-4xl p-6 bg-white rounded-lg shadow-md">
            <div>
                <div>
                    <h2 class="mb-4 text-2xl font-semibold">Survey Responses</h2>
                    <table class="min-w-full divide-y divide-gray-700">
                        <thead class="bg-gray-50">
                            <tr>
                                <th
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                                    Response</th>

                                <th
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                                    Date Added</th>

                                <!-- <th
                                    class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                                    Responsess
                                </th> -->
                            </tr>
                        </thead>
                        <tbody id="questions-tbody" class="bg-white divide-y divide-gray-200">


                            <tr>
                                <td class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap">Jane Smith
                                </td>
                                <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">The product exceeded my
                                    expectations.</td>
                                <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">2024-08-22</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </main>
    </div>

</body>

</html>