<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Participation</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>

<body class="bg-gray-100">

    <header class="flex items-center justify-between p-4 text-white bg-gray-800">
        <div class="text-2xl font-semibold">Survey Participation</div>
    </header>

    <main class="flex-1 p-4">
        <div class="p-6 mb-6 bg-white rounded-lg shadow-md">
            <div id="survey-container">
                <div class="flex" id="loader">
                    <svg aria-hidden="true"
                        class="inline w-6 h-6 ml-5 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                        viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                            fill="currentColor" />
                        <path
                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                            fill="currentFill" />
                    </svg>
                    <p>Loading..</p>
                </div>

            </div>
        </div>
    </main>

    <script>
        const surveyData = {
            title: "",
            questions: []
        };

        function fetchQuestions() {
            const access_token = localStorage.getItem("access_token");
            const url = window.location.href.split("/")
            const url_id = url[url.length - 2]

            fetch(`/sp/api/get-questions/${url_id}/`, {
                method: "GET",
                headers: {
                    'Authorization': `Bearer ${access_token}`,
                }
            })
                .then(response => {
                    if (response.status === 404) {
                        throw new Error(`No questions found for survey ${survey_id}`);
                    }
                    if (response.status !== 200) {
                        throw new Error(`Error fetching questions`);
                    }
                    return response.json();
                })
                .then(data => {
                    document.getElementById("loader").style.display = "none"
                    surveyData["title"] = data.survey
                    surveyData["questions"] = data.questions
                    console.log(data)
                    renderQuestions();


                })
                .catch(error => {
                    console.error(error);
                });
        }


        function renderQuestions() {
            const container = document.getElementById('survey-container');
            container.innerHTML = `<h2 class="text-xl font-semibold">${surveyData.title}</h2><br />`;

            surveyData.questions.forEach(question => {
                let inputField;
                let actionUrl;

                switch (question.type_of_response_required) {
                    case 'Text':
                        inputField = `<input type="text" id="question-${question.id}" 
                        name="response" 
                        class="block w-full p-2 mt-1 border border-gray-300 rounded-md shadow-sm"
                        placeholder="${question.question}"
                        ${question.answer_required ? "required" : null}>`;


                        actionUrl = "/sp/api/submit-text-response/"

                        break;

                    case 'Number':
                        inputField = `<input type="number" id="question-${question.id}" 
                        name="response" 
                        class="block w-full p-2 mt-1 border border-gray-300 rounded-md shadow-sm" 
                        placeholder="${question.question}"  
                        ${question.answer_required ? "required" : null}>`;

                        actionUrl = "/sp/api/submit-number-response/"

                        break;

                    case 'File':
                        inputField = `<input type="file" id="question-${question.pk}" 
                        name="response" 
                        class="block mt-1" ${question.answer_required ? "required" : null}>`;


                        actionUrl = "/sp/api/submit-file-response/"

                        break;

                    case 'Image':
                        inputField = `<input type="file" id="question-${question.pk}" 
                        name="response" 
                        accept="image/*" class="block mt-1"
                        ${question.answer_required ? "required" : null}>`;

                        actionUrl = "/sp/api/submit-image-response/"

                        break;

                    case 'Selection':
                        inputField = `
                        <select
                        name="response"  
                        class="block w-full p-2 mt-1 border border-blue-400 rounded-md shadow-sm" 
                        ${question.answer_required ? "required" : null}>
                             <option value="Text">Options</option>
                          ${question.options.map(option =>
                            `<option value="${option.pk}">${option.option}</option>`
                        ).join('')}
                        </select>`;

                        actionUrl = "/sp/api/submit-selection-response/"

                        break;
                }

                container.innerHTML += `
                    <div class="p-4 mb-4 bg-gray-200 rounded-lg shadow-lg">
                        <form id="response-form-${question.pk}" class="r-form" method="POST" action="${actionUrl}">
                        <div class="flex justify-between">
                            <label for="question-${question.pk}" class="block text-gray-700">${question.question}</label>
                            <label for="question-${question.pk}" class="block text-red-700">${question.answer_required ? "Answer requird" : ""}</label>
                        </div>
                        <div>
                            ${inputField}
                            <button id="submit-button-${question.pk}" 
                            class="px-4 py-2 mt-4 text-white bg-blue-500 rounded hover:bg-blue-600">
                            Submit
                            <svg aria-hidden="true" id="loader-${question.pk}"
                            class="inline w-6 h-6 ml-1 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                fill="currentColor" />
                            <path
                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                fill="currentFill" />
                            </svg>
                            </button>
                        </div>
                        </form>
                    </div>
                `;
            }
            );

            // document.querySelectorAll(".r-form").forEach((form) => {
            //     console.log(form)
            //     form.addEventListener('submit', e => e.preventDefault())

            // })



            surveyData.questions.forEach((question) => {
                const loader = document.getElementById(`loader-${question.pk}`)
                loader.style.display = "none"
                document.getElementById(`response-form-${question.pk}`).addEventListener("submit", (e) => {
                    console.log(question.pk)
                    e.preventDefault()
                    loader.style.display = "inline"
                    let form = document.getElementById(`response-form-${question.pk}`)
                    let button = document.getElementById(`submit-button-${question.pk}`)

                    const formData = new FormData(form);

                    formData.append("question", question.pk)

                    const actionUrl = form.action;

                    fetch(actionUrl, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'Authorization': `Bearer ${localStorage.getItem("access_token")}`
                        }
                    })
                        .then(response => {
                            loader.style.display = "none"
                            if (!response.ok) {
                                if (response.status === 409) {
                                    return response.json().then(data => {
                                        throw new Error(`${data.detail}`);
                                    });
                                } else if (response.status === 401) {
                                    return response.json().then(data => {
                                        throw new Error(`${data.detail}`);
                                    });
                                }
                                else if (response.status === 400) {
                                    return response.json().then(data => {
                                        throw new Error(`${data.detail}`);
                                    });
                                }
                                else {
                                    return response.json().then(data => {
                                        throw new Error(`HTTP error ${response.status}`);
                                    });
                                }
                            }
                            return response.json()
                        })
                        .then(data => {
                            loader.style.display = "none"
                            console.log('Success:', data);

                            button.disabled = true
                            button.className = "px-4 py-2 mt-4 text-white bg-blue-200 rounded hover:bg-blue-300"
                            alert('Response submitted successfully');
                        })
                        .catch(error => {
                            loader.style.display = "none"
                            console.error('Error:', error);
                            alert(error.message);
                        });

                })
            })

        }

        document.addEventListener('DOMContentLoaded', function () {
            fetchQuestions()
        });
    </script>

</body>

</html>